# Ignorer le dossier backend
argentbank-backend/

# Ignorer les fichiers de logs du backend
*.log

# Ignorer les fichiers de configuration
argentbank-backend/config/*.json

# Ignorer les modules node du backend
argentbank-backend/node_modules/

# Ignorer les fichiers de base de données temporaires
argentbank-backend/db/*.sqlite
